@import "tailwindcss";

input:-webkit-autofill {
  @apply bg-[#232c3b] shadow-[inset_0_0_0px_1000px_#232c3b]; /* dark bg + cover autofill yellow */
  -webkit-text-fill-color: white !important; /* text color for autofilled input */
  caret-color: white; /* cursor color */
}

input:-webkit-autofill:focus {
  @apply bg-[#232c3b] shadow-[inset_0_0_0px_1000px_#232c3b]; /* same bg on focus */
  -webkit-text-fill-color: white !important; /* text color on focus */
  caret-color: white; /* cursor color on focus */
}
