@import "tailwindcss";

input:-webkit-autofill {
  @apply bg-[#232c3b] shadow-[inset_0_0_0px_1000px_#232c3b]; /* dark bg + cover autofill yellow */
  -webkit-text-fill-color: white !important; /* text color for autofilled input */
  caret-color: white; /* cursor color */
}

input:-webkit-autofill:focus {
  @apply bg-[#232c3b] shadow-[inset_0_0_0px_1000px_#232c3b]; /* same bg on focus */
  -webkit-text-fill-color: white !important; /* text color on focus */
  caret-color: white; /* cursor color on focus */
}



::-webkit-scrollbar {
  width: 8px;              /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: gray;         /* scrollbar handle */
  border-radius: 4px;       /* rounded handle */
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}